@import "layout/modal";
@import "layout/page-title";
@import "layout/banner";
@import "layout/aboutus";
@import "layout/new-collection";
@import "layout/products-categories";
@import "layout/testimonial";
@import "layout/newsletter";
@import "layout/we-say-hello";
@import "layout/sale_prodcut";
@import "layout/home_layout_products";
// Pages Scss File Import
@import "layout/sidebar";
@import "pages/login-register";
@import "pages/compare";
@import "pages/checkout";
/*
@import "pages/blog";
*/
@import "pages/myaccount";
@import "pages/error";

.brand-text{
  color: $brand-color !important;
}
.pagination li a:focus{
  background-color: #ffffff !important;
  outline-color: #ffffff !important;
  color: black !important;
}
