//== Brand Color
$brand-color1: #ace;
$brand-color2: #9bd;
$brand-color3: #79b;

$brand-color: #4d94db;
//$brand-color: $color1;
$brand-color-dark: darken($brand-color,15%); // #4d94db
$brand-color-light: lighten($brand-color, 15%);

// Site Typography Colors
$paragraph: #727272;
$heading: #000;
$gray-color: #929292;
$light-gray: #f2f2f3;
$light-white: #f4f5f7;
$ash-color: #d2d2d2;

//== Typography Variable
$font-droid-sarif: 'Droid Serif';
$font-montserrat: 'Montserrat';
$font-playfair-display: 'Playfair Display';
$font-font_awesome: 'FontAwesome';
$font-size-base: 14;

//== Alternative Color
$white: #fff;
$offwhite: #fafafa;
$black: #000;
$black-soft: #202020;
$navy: #3b5998;
$pink: #FF69B4;
$violet: #9933cc;
$olive: #559137;
$green: #1dd983;
$red: #e74c3c;
$orange: #f5740a;
$yellow: #f4ca49;

//== Social Media Icons Color
$facebook: #3B5999;
$twitter: #1DA1F2;
$pinterest: #CB2028;
$youtube: #CC332D;

//== Responsive Variable
$smallphone: 'only screen and (min-width: 320px) and (max-width: 575px)';
$smartphone: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tablet: 'only screen and (min-width: 768px) and (max-width: 991px)';
$desktop: 'only screen and (min-width: 992px)';
$large-desktop: 'only screen and (min-width: 1200px)';