/*== Newsletter Area Start ==*/
#newsletter-area {
  position: relative;

  &:after {
    background-color: $light-white;
    content: '';
    position: absolute;
    height: 1px;
    top: 0;
    left: 50%;
    @include transform(translateX(-50%));
    max-width: 1110px;
    width: 100%;
  }
}

.newsletter-form-wrap {
  text-align: center;
  input {
    border: none;
    border-bottom: 2px solid $paragraph;
    font-style: italic;
    padding: 15px 20px;
    @include box-shadow(none);
    @include font-size(13);
    text-align: center;
    @include transition(0.4s);
    outline: none;
    width: 100%;

    &:active, &:focus {
      border-bottom-color: $brand-color;
    }

  }

  button.btn-long-arrow {
    margin: 35px 0 0 0;
    @include transition(0.4s);
    cursor: pointer;
  }

  #result {
    &.alert {
      margin-bottom: 0;
      margin-top: 15px;
      text-align: center;
    }
  }
}

/*== Newsletter Area End ==*/