/*== Sale Products Area Start ==*/
#sale-products-area {
  background-color: $light-gray;
  padding: 90px 0;

  .sale-product-wrapper {
    .single-sale-product {
      .sale-product-details {
        h2, h3 {
          color: $brand-color;
          text-transform: uppercase;
          font-family: $font-montserrat;
          @include font-noline(18);
        }

        h3 {
          color: $brand-color;
          @include font-noline(18);
        }

        h2 {
          color: $black-soft;
          @include font-noline(30);
          margin: 15px 0;

          @media #{$smallphone} {
            @include font-size(18);
            margin: 10px 0;
          }

          @media #{$tablet} {
            @include font-size(24);
          }

          a {
            color: $black-soft;

            &:hover {
              color: $brand-color;
            }
          }
        }

        .rating {
          color: $yellow;
          margin: 10px 0;
        }

        p {
          font-family: $font-droid-sarif;
          font-style: italic;
        }

        .btn-add-to-cart {
          margin-top: 20px;
        }

        .sale-countdown-wrap {
          margin-top: 30px;

          .sale-product-countdown {
            @include flexbox();
            @include justify-content(flex-end);

            @media #{$smallphone, $smartphone} {
              @include justify-content(center);
            }

            .counter-item {
              text-align: center;
              margin-right: 15px;

              &:last-child {
                margin-right: 0;
              }

              .counter-no {
                background-color: $white;
                @include border-radius(50%);
                display: block;
                text-align: center;
                @include font-weight(700);
                font-family: $font-droid-sarif;
                color: $black-soft;
                position: relative;
                line-height: 70px;
                height: 70px;
                width: 70px;
                margin: auto;
                z-index: 1;

                @media #{$smallphone, $tablet} {
                  line-height: 60px;
                  height: 60px;
                  width: 60px;
                }

                &:after {
                  background-color: $light-gray;
                  @include border-radius(50%);
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  @include translate(-50%, -50%);
                  height: 50px;
                  width: 50px;
                  z-index: -1;

                  @media #{$smallphone, $tablet} {
                    height: 40px;
                    width: 40px;
                  }

                }

                &:before {
                  border: 3px solid $light-gray;
                  @include border-radius(50%);
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  @include translate(-50%, -50%);
                  height: 65px;
                  width: 65px;
                  z-index: -1;

                  @media #{$smallphone, $tablet} {
                    height: 55px;
                    width: 55px;
                  }
                }
              }

              .counter-label {
                display: block;
                color: $black-soft;
                text-transform: uppercase;
                @include font-weight(700);
                @include font-size(13);
                margin-top: 5px;
              }
            }
          }
        }
      }
    }

    .owl-carousel {
      &:hover {
        .owl-nav {
          @include opacity(1);
          visibility: visible;
        }
      }

      .owl-nav {
        @include opacity(0);
        visibility: hidden;
        @include transition(0.4s);
        button {
          background-color: darken($light-gray, 5%) !important;
          &:hover {
            background-color: $brand-color !important;
          }
        }

        @media #{$smallphone, $smartphone} {
          display: none;
        }
      }
    }
  }
}

/*== Sale Products Area End ==*/