/*== Sidebar Area Start ==*/
#sidebar-area-wrap {
  margin-top: -31px;
  .single-sidebar-wrap {
    margin-top: 50px;
    .sidebar-title {
      text-transform: uppercase;
      font-family: $font-montserrat;
      @include font-size(18);
      border-bottom: 1px dashed lighten($gray-color, 20%);
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
  }
}

// Shopping Option Style
.shopping-option {
  h3 {
    font-family: $font-droid-sarif;
    @include font-size(20);
    @include font-weight(400);
    color: $gray-color;
    margin-bottom: 15px;
  }

  .shopping-option-item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    h4 {
      @include font-size(15);
      text-transform: uppercase;
      color: darken($gray-color, 15%);
      margin-bottom: 10px;
    }
  }
}

// color Select Option Style
.color-option-select {
  .color-item {
    background-color: $gray-color;
    display: block;
    cursor: pointer;
    margin-right: 10px;
    height: 20px;
    width: 35px;
    position: relative;

    &:hover {
      .color-hvr {
        animation: fadeIn 0.5s 1;
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.black {
      background-color: $black;

      .color-hvr {
        .color-fill {
          background-color: $black;
        }
      }
    }

    &.orange {
      background-color: $orange;

      .color-hvr {
        .color-fill {
          background-color: $orange;
        }
      }
    }

    &.yellow {
      background-color: $yellow;

      .color-hvr {
        .color-fill {
          background-color: $yellow;
        }
      }
    }

    &.green {
      background-color: $green;

      .color-hvr {
        .color-fill {
          background-color: $green;
        }
      }
    }

    &.red {
      background-color: $red;

      .color-hvr {
        .color-fill {
          background-color: $red;
        }
      }
    }

    .color-hvr {
      background-color: $white;
      border: 1px solid $ash-color;
      padding: 5px;
      position: absolute;
      bottom: calc(100% + 5px);
      left: 50%;
      @include translate(-50%, 0);
      display: none;
      z-index: 3;

      .color-fill {
        background-color: red;
        display: block;
        height: 100px;
        width: 100px;
      }

      .color-name {
        text-transform: capitalize;
        text-align: center;
        display: block;
        @include font-weight(700);
        @include font-noline(12);
        color: $black;
        margin-top: 5px;
      }
    }
  }
}

// Sidebar Search Box
.sidebar-search {
  form {
    position: relative;

    input[type='search'] {
      width: 100%;
      border: 2px solid lighten($gray-color, 20%);
      padding: 15px 60px 15px 15px;
      outline: none;
      @include transition(0.4s);
    }

    button {
      background-color: transparent;
      border-left: 2px solid lighten($gray-color, 20%);
      cursor: pointer;
      right: 0;
      position: absolute;
      text-align: center;
      top: 0;
      @include transition(0.4s);
      height: 100%;
      width: 50px;

      &:hover, &:focus {
        background-color: $brand-color;
        border-color: $brand-color;
        color: $white;
      }
    }
  }
}

// Tags Style
.tags {
  margin-top: -3px;
  li {
    display: inline-block;
    a {
      display: block;
      border: 1px solid lighten($gray-color, 20%);
      padding: 10px 20px;
      margin: 5px 2px;
      color: $paragraph;
      font-weight: 700;
      @include font-size(13);
      text-transform: capitalize;

      &:hover {
        background-color: $brand-color;
        border-color: $brand-color;
        color: $white;
      }
    }
  }
}

// Recent Posts Sidebar
.recent-post {
  .single-product-item {
    .product-details {
      span.price {
        margin: 5px 0 0;
      }
      .btn-add-to-cart {
        padding: 0;
        border: none;
        background-color: transparent;

        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

/*== Sidebar Area End ==*/