/*== Testimonial Area Start ==*/
.testimonial-wrapper {
  background-image: url("../img/testi_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px 30px 85px;

  @media #{$smallphone, $smartphone} {
    padding: 45px 15px 40px;
  }

  .section-title {
    h2 {
      color: $white;
    }
  }
}

.testimonial-content-wrap {
  .single-testimonial-item {
    font-style: italic;
    color: $ash-color;
    font-family: $font-droid-sarif;
    line-height: 30px;

    .client-name {
      text-transform: uppercase;
      color: $white;
      font-style: normal;
      @include font-size(16);
      margin-top: 30px;
    }
  }
}

/*== Testimonial Area End ==*/