/*== Compare Page Content Start ==*/
.compare-table {
  & .table {
    & tbody {
      & tr {
        & td {
          text-align: center;
          padding: 25px 20px;
          vertical-align: middle;

          &.first-column {
            min-width: 175px;
            @include font-size(17);
            font-weight: 700;
            color: $black-soft;
            margin: 0;
          }

          &.product-image-title {
            min-width: 310px;
            vertical-align: bottom;

            & .image {
              clear: both;
              width: 100%;
              margin-bottom: 15px;
              display: block;
              & img {
                max-width: 100%;
              }
            }
            & .category {
              float: left;
              clear: both;
              color: $brand-color-dark;
              text-transform: capitalize;
              letter-spacing: 0.5px;
            }
            & .title {
              float: left;
              clear: both;
              @include font-size(16);
              color: $paragraph;
              font-weight: 700;

              &:hover {
                color: $brand-color;
              }
            }
          }

          &.pro-desc {
            & p {
              text-align: left;
              margin: 0;
            }
          }

          &.pro-price, &.pro-color, &.pro-stock {
            @include font-size(16);
            font-weight: 700;
            color: $paragraph;
          }

          &.pro-remove {
            & button {
              border: none;
              background-color: transparent;
              padding: 0;
              cursor: pointer;
              @include transition(0.3s);

              &:hover {
                color: $brand-color;
              }

              & i {
                @include font-size(20);
              }
            }
          }

          &.pro-ratting {
            & i {
              color: $yellow;
            }
          }

        }
      }
    }
  }
}

/*== Compare Page Content End ==*/